html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf0f1 !important;
  font-family: 'Open Sans', sans-serif;
}

a.nav-link {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 27px !important;
  color: #34495e !important;
  padding-left: 1em !important;
}

img.brand-logo{
  width: 120;
  margin-top: .8em;
  margin-left: .2em;
}

nav {
  background: rgba(0,0,0,0);
}

a.nav-link:hover {
  color: #778ca3 !important;
}

h1 {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 56px !important;
  font-weight: 100 !important;
}

button {
  border-color: #34495e;
  border-width: 8px;
  border-style: solid;
  padding: 0;
}

.carousel {
  margin-bottom: 5em;
  margin-top: 3em;
}
